
.webcam-container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://cdn.pixabay.com/photo/2022/09/21/17/02/blue-background-7470781_1280.jpg');
  background-position: center;
  background-size: cover;
  object-fit: cover;
  color: white;
  overflow: auto;
}
 
.myapp {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .row{
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    z-index: 100;
  }
  .row .last{
    text-align:end;
  }
   
  .row img{
    width: 40px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  .abc {
    width: 550px;
    height: 450px;
    max-width: 100%;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgba(0,0,0,0.3);
    margin-top: 40px;
}

  .appvide video{
    width: 100%;
    height: 100%;
  }
  .appvide {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    /* box-shadow: 0px 0px 5px rgb(148, 144, 144); */
    padding: 28px 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 

  .face-border{
    margin: 10px;
    box-shadow: 0px 0px 5px rgb(148, 144, 144);
    border-radius: 4px;
    text-align: center;
    padding: 10px;
  }
  .face-border .consentbtn{
    border: 1px solid;
    padding: 4px 10px;
    font-size: 20px;
    background-color: rgb(67, 184, 178);
    border: none;
    outline: none;
    border-radius: 4px;

  }
  /* .appcanvas {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
  } */
  
  /* .showmassageface{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
  }
 
  .showmassageface span{
    font-size: 26px;
    color: blueviolet;
    margin-right: 6px;
  } */
  
  .showrecapture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    color: black;
    border-radius: 5px;
    width: 300px;
    max-width: 90%;
  }
  .showrecapture button{
    background-color: rgb(113, 77, 146);
    padding: 6px 8px;
    border: none;
    outline: none;
    margin-top: 15px;
    padding: 6px 10px;
    font-size: 18px;
    border-radius: 4px;
    color: white;
  }
  .capturebtn button{
    padding: 7px 20px;
    font-size: 20px;
    border: 2px solid crimson;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 4px;

  }
  
  /* .face-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%;
    background-color: white;
    opacity: 0.2;
  }
  
  .face-border svg{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 200px;
    height: 260px;
    border-radius: 50%;
  } */
  
  .loader {
    border: 4px solid #1e1bd1; /* Light grey */
    border-top: 4px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .modal-capture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    background-color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 400px;
    max-width: 90%;
    color: rgb(0, 0, 0);
  }
  .modal-capture span{
    color: blueviolet;
    font-size: 22px;
    margin-right: 8px;
  }
  .modal-capture button{
    padding: 8px 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(139, 105, 170);
    color: white;
    width: 90px;
    box-shadow: 0px 0px 5px rgb(227, 216, 216);
    cursor: pointer;
  }
  .card{
    width: 300px;
    height: 300px;
    padding: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  